<!DOCTYPE html>
<head lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Communews.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/bootstrap-icons.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <!--  Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
          <a class="navbar-brand" href="/index">Communews.</a>
          <a class="btn btn-lg btn-outline-dark login-btn" href="/log_in" role="button">Login</a>
        </div>
    </nav>

    <main id="main">
        <section class="section site-portfolio">
            
            <div class="container" style="width: 1000px;">
              <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0 mt-3" data-aos="fade-up">
                  <h1>熱門主題包</h1>
                </div>

                <!-- 分類 -->
                <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
                  <div id="filters" class="filters">
                    <a href="#" data-filter="*" class="active">All</a>
                    <a href="#" data-filter=".exercise">運動</a>
                    <a href="#" data-filter=".life">生活</a>
                    <a href="#" data-filter=".international">國際</a>
                  </div>
                </div>
              </div>

              <!-- 運動 -->
              <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
                <!-- 主題包的框架 顯示空白是正常的-->
                <div class="item exercise col-sm-6 col-md-4 col-lg-4 mb-4 text-center">
                  <a href="{{ url_for('show', topic='Sport', subtopic='NBA') }}" class="item-wrap fancybox">
                    <div class="work-info hot-info" >
                      <h2>運動</h2>
                      <span>NBA</span>
                    </div>
                    <img class="img" src="img/nba.jpg">
                  </a>
                </div>

                <!-- 下面是做死的 -->
                <div class="item exercise col-sm-6 col-md-4 col-lg-4 mb-4 text-center">
                  <a href="{{ url_for('show', topic='Sport', subtopic='MLB') }}"  class="item-wrap fancybox">
                    <div class="work-info hot-info" >
                      <h2>運動</h2>
                      <span>MLB</span>
                    </div>                    
                      <img class="img" src="img/mlb.jpg">                                      
                  </a>
                </div>

                <div class="item exercise col-sm-6 col-md-4 col-lg-4 mb-4">
                  <a href="{{ url_for('show', topic='Sport', subtopic='中職') }}"  class="item-wrap fancybox">
                    <div class="work-info hot-info">
                      <h2>中職</h2>
                      <span>運動</span>
                    </div>                    
                      <img class="img" src="img/cpbl.jpg">                                       
                  </a>
                </div>

                <!-- 生活 -->
                <div class="item life col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='Life', subtopic='美食消費') }}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>美食消費</h2>
                        <span>生活</span>
                      </div>
                      <img class="img" src="img/food.jpg">
                    </a>
                </div>

                <div class="item life col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='Life', subtopic='旅遊交通') }}"  class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>旅遊交通</h2>
                        <span>生活</span>
                      </div>
                      <img class="img" src="img/travel.jpg">
                    </a>
                </div>

                <div class="item life col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='Life', subtopic='氣象') }}"  class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>氣象</h2>
                        <span>生活</span>
                      </div>
                      <img class="img" src="img/weather.jpg">
                    </a>
                </div>

                <!-- 國際 -->
                <div class="item international col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='International', subtopic='亞澳') }}"  class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>亞澳</h2>
                        <span>國際</span>
                      </div>
                      <img class="img" src="img/asia.jpg">
                    </a>
                </div>

                <div class="item international col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='International', subtopic='美洲') }}"  class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>美洲</h2>
                        <span>國際</span>
                      </div>
                      <img class="img" src="img/america.jpg">
                    </a>
                </div>

                <div class="item international col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('show', topic='International', subtopic='歐非') }}"  class="item-wrap fancybox">
                      <div class="work-info">
                        <h2>歐非</h2>
                        <span>國際</span>
                      </div>
                      <img class="img" src="img/europe.jpg">
                    </a>
                </div>
              </div>
            </div>
        </section>    
    </main>
        
  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='js/aos.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/swiper-bundle.min.js')}}"></script>


  <!--  Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>