<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Communews</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/aos.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">


  <!--  Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">


</head>

<body>
  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/index">Communews.</a>
    </div>
  </nav>

   <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row index-btn" data-aos="fade-up">
          <div class="item col mb-4" >
            <a href='/hot_package'>
              <button class="w3-container w3-center">
                <span class="primary-btn">熱門組合包</span><br>
                <p class="fa fa-search w3-margin-bottom w3-text-theme" style="font-size:140px"></p>
              </button>
            </a>
          </div>

          <div class="item col mb-4" >
            <a href='/log_in'>
              <button class="w3-container w3-center">
                <span class="primary-btn">登入</span><br>
                <p class="fa fa-search w3-margin-bottom w3-text-theme" style="font-size:140px"></p>
              </button>
            </a>
          </div>                   
        </div>
      </div>
    </section><!-- End  Works Section -->

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='js/aos.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/swiper-bundle.min.js')}}"></script>


  <!--  Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

  </body>
</html>